include ../../components/input-with-arrow/input-with-arrow
include ../../components/button-with-arrow/button-with-arrow

mixin search-of-numbers()
	.search-of-numbers
		.wrapper-for-forms
			h1.form__title Найдём номера под ваши пожелания
			div.forms__date-selects(class="calendar-here_search")
				.date-select__block
					h3.form-element__title Прибытие
					+input-with-arrow('ДД.ММ.ГГГГ', 'start-input')
				.date-select__block
					h3.form-element__title Выезд
					+input-with-arrow('ДД.ММ.ГГГГ', 'end-input')
			.forms__guest-select
				h3.form-element__title Гости
				+input-with-arrow('Сколько гостей', 'open-select')
			.forms__submit-btn
				+btn-with-arrow('Подобрать номер')

