body {
	font-size: 19px;
	width: 100vw;
	height: 100vh;
}
.color-type__block {
	margin-top: -49px;
	margin-left: 40px;
	display: grid;
	grid-template-columns: 42.8% 46%;
	
	.color-blocks {
		display: flex;
		flex-direction: column;
	}
}
