mixin calendar()
	.calendar
		.calendar-header
			.month-prev
			h2.calendar-title
			.month-next
		.calendar-body
			.days-of-week
			.days
		.calendar-footer
			button.clear-btn
			button.confirm-btn