include ../confirm-btn/confirm-btn

mixin calendar()
	.calendar-here
	//- .calendar
	//- 	.calendar-header
	//- 		.month-prev
	//- 		h2.calendar-title
	//- 		.month-next
	//- 	.calendar-body
	//- 		.days-of-week
	//- 		.days
	//- 	.calendar-footer
	//- 		+confirm-btn('Очистить', 'clear-btn')
	//- 		+confirm-btn('Применить', 'apply-btn')