body {
	font-size: 19px;
	width: 100vw;
	height: 100vh;
}
.color-type__block {
	display: flex;
	justify-content: space-between;
	max-width: 1480px;
	
	.color-blocks {
		display: flex;
		flex-direction: column;
	}

	.type-blocks {
		
	}
	
}
