extends ./pages/wrapper/wrapper

block title
	title Toxin
block header
block content
	div.pages
		a(href="./pages/color-type/index.html") Color & Types
		a(href="./pages/cards/index.html") Cards
		a(href="./pages/headers-footers/index.html") Headers & Footers
		a(href="./pages/form-elements/index.html") Form Elements
