extends ./pagesUI/wrapper/wrapper

block title
	title Toxin
block header
block content
	div.pages
		a(href="./pagesUI/color-type/index.html") Color & Types
		a(href="./pagesUI/cards/index.html") Cards
		a(href="./pagesUI/headers-footers/index.html") Headers & Footers
		a(href="./pagesUI/form-elements/index.html") Form Elements
