doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Toxin
	body
		div.pages
			a(href="./pages/color-type/index.html") Color & Types
			a(href="./pages/cards/index.html") Cards
			a(href="./pages/headers-footers/index.html") Headers & Footers
			a(href="./pages/form-elements/index.html") Form Elements

		script(src="./index.js")
